<!DOCTYPE html>
<html lang="en" ng-app="jlpkgApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Package Listing (Unofficial)</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      .full_pass    { background-color: #55FF55; } /*Tests passing*/
      .full_fail    { background-color: #FF9922; } /*Tests failed*/
      .using_pass   { background-color: #AAAAFF; } /*Tests missing*/
      .using_fail   { background-color: #FF4444; } /*Package unloadable*/
      .not_possible { background-color: #AFAFAF; } /*Package excused*/

      .cell_using_fail   { background-color: #ffcccc; }
      .cell_using_pass   { background-color: #ddddff; }
      .cell_full_fail    { background-color: #ffddcc; }
      .cell_full_pass    { background-color: #ddffdd; }
      .cell_not_possible { background-color: #eeeeee; }
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44252521-5', 'iainnz.github.io');
  ga('send', 'pageview');

</script>

  </head>
  <body ng-controller="jlpkgCtrl">
    <!-- HEADER -->
    <div class="jumbotron">
      <div class="container">
        <h1>Julia Package Listing</h1>
        <p>Experimental and unofficial</p>
      </div>
    </div>

    <!-- FILTER -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Search package names</h3>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="searchName">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="searchName=''">Clear</button>
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Search package authors</h3>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="searchAuthor">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="searchAuthor=''">Clear</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>Show packages for</h3>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="jlVer" btn-radio="'0.2'">
            <i class="glyphicon" ng-class="{'glyphicon-ok': jlVer=='0.2', 'glyphicon-remove': jlVer!='0.2'}"></i> Julia 0.2 (Stable)</button>
            <button type="button" class="btn btn-default" ng-model="jlVer" btn-radio="'0.3'">
            <i class="glyphicon" ng-class="{'glyphicon-ok': jlVer=='0.3', 'glyphicon-remove': jlVer!='0.3'}"></i> Julia 0.3 (Unstable)</button>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>With testing status</h3>
          <div class="btn-group">
            <button type="button" class="btn btn-success" ng-model="testShow.full_pass" btn-checkbox>
              <i class="glyphicon" ng-class="{'glyphicon-ok': testShow.full_pass, 'glyphicon-remove': !testShow.full_pass}"></i> Tests pass</button>
            <button type="button" class="btn btn-warning" ng-model="testShow.full_fail" btn-checkbox>
              <i class="glyphicon" ng-class="{'glyphicon-ok': testShow.full_fail, 'glyphicon-remove': !testShow.full_fail}"></i> Tests fail</button>
            <button type="button" class="btn btn-primary" ng-model="testShow.using_pass" btn-checkbox>
              <i class="glyphicon" ng-class="{'glyphicon-ok': testShow.using_pass, 'glyphicon-remove': !testShow.using_pass}"></i> No tests</button>
            <button type="button" class="btn btn-danger" ng-model="testShow.using_fail" btn-checkbox>
              <i class="glyphicon" ng-class="{'glyphicon-ok': testShow.using_fail, 'glyphicon-remove': !testShow.using_fail}"></i> Can't load</button>
            <button type="button" class="btn btn-info" ng-model="testShow.not_possible" btn-checkbox>
              <i class="glyphicon" ng-class="{'glyphicon-ok': testShow.not_possible, 'glyphicon-remove': !testShow.not_possible}"></i> Not tested</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>With license</h3>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="licenseShow.MIT" btn-checkbox><i class="glyphicon" ng-class="{'glyphicon-ok': licenseShow.MIT, 'glyphicon-remove': !licenseShow.MIT}"></i> MIT</button>
            <button type="button" class="btn btn-default" ng-model="licenseShow.BSD" btn-checkbox><i class="glyphicon" ng-class="{'glyphicon-ok': licenseShow.BSD, 'glyphicon-remove': !licenseShow.BSD}"></i> BSD</button>
            <button type="button" class="btn btn-default" ng-model="licenseShow.GPLv2" btn-checkbox><i class="glyphicon" ng-class="{'glyphicon-ok': licenseShow.GPLv2, 'glyphicon-remove': !licenseShow.GPLv2}"></i> GPL v2</button>
            <button type="button" class="btn btn-default" ng-model="licenseShow.GPLv3" btn-checkbox><i class="glyphicon" ng-class="{'glyphicon-ok': licenseShow.GPLv3, 'glyphicon-remove': !licenseShow.GPLv3}"></i> GPL v3</button>
            <button type="button" class="btn btn-default" ng-model="licenseShow.Other" btn-checkbox><i class="glyphicon" ng-class="{'glyphicon-ok': licenseShow.Other, 'glyphicon-remove': !licenseShow.Other}"></i> Other</button>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>&nbsp;</h3>
          <h4>Displaying {{ countPkgs() }}</h4>
        </div>
      </div>
    </div>

    <hr>


    <!-- LISTING -->
    <div class="container" ng-repeat="pkg in stable" ng-show="isVisible(pkg)">
      <!-- First lines - names, version -->
      <div class="row">
        <div class="col-xs-12"><h2><a once-href="pkg.url" once-text="pkg.name"></a></h2></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><h4>Current version: <a once-href="pkg.url+'/tree/'+pkg.gitsha" once-text="pkg.version+' ('+pkg.gitsha.substr(0,8)+')'"></a></h4></div>
        <div class="col-sm-4"><h4>License: <a once-href="pkg.licurl" once-text="pkg.license"></a></h4></div>
        <div class="col-sm-4"><h4>Author: <a once-href="'http://github.com/'+pkg.owner" once-text="pkg.owner"></a></h3></div>
      </div>
      <!-- Description -->
      <div class="row">
        <div class="col-md-12"><p once-text="pkg.githubdesc"></p></div>
      </div>
      <!-- Testing status -->
      <div class="row">
        <div class="col-md-12">
          <p>
            <b>Test status</b>: 
            <a once-href="'badges/'+pkg.name+'_'+pkg.jlver+'.svg'"><img once-src="'badges/'+pkg.status+'.svg'" alt="{{humanStatus(pkg.status)}}"></a> <span once-text="humanStatus(pkg.status)"></span> -
            <a ng-click="pkg.showtestlog = !pkg.showtestlog">{{pkg.showtestlog ? "Hide log" : "Show log"}}</a>
          </p>
          <pre ng-if="pkg.showtestlog" once-text="pkg.details+'\n'+pkg.testlog"></pre>
        </div>
      </div>
      <!-- Exported names -->
      <div class="row" ng-if="pkg.expnames.length > 0">
        <div class="col-md-12">
          <p>
            <b>Exported names:</b> <a ng-click="pkg.showexpnames = !pkg.showexpnames">{{pkg.showexpnames ? "Hide" : "Show"}}</a>
          </p>
          <pre ng-if="pkg.showexpnames" once-text="pkg.expnames"></pre>
        </div>
      </div>
      <hr>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="once.js"></script>
    <script src="jlpkg.js"></script>
    <script src="ui-bootstrap-0.10.0.min.js"></script>
  </body>
</html>
